-# markdown
%script{:src => "https://cdn.jsdelivr.net/npm/marked/marked.min.js"}

-# highlight.js
%link{:href => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/styles/srcery.min.css", :rel => "stylesheet"}/
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/highlight.min.js"}
/ and it's easy to individually load additional languages
%script{:src => "https://cdnjs.cloudflare.com/ajax/libs/highlight.js/10.6.0/languages/go.min.js"}

= javascript_pack_tag 'admin/articles/edit'

= form_with model: [:admin, @article], local: true, method: :patch do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control', value: @article.title
  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control', value: @article.slug
  .form-group
    = f.label :published
    = f.select :published, [['publish', true], ['draft', false]], {}, class: 'form-control'
  .form-group
    = f.label :text
    .row
      .col-md-6
        = f.text_area :text, id: 'articleText', class: 'form-control', size: '30x30', value: @article.text
      .col-md-6.border
        #markdown_preview
  = f.submit "更新する", class: 'btn btn-primary'
