-# TODO: ソート時は、矢印アイコンをつけておく
-# 他の項目でソートされた際には、前のアイコンを削除して、新しいソートを行う
%tr
  %td.id{:scope => "row"}=  article.id
  %td.title= article.title
  %td.text= article.text
  %td.status= content_tag :span, article.published ? 'published' : 'draft', class: "badge badge-#{article.published ? 'primary' : 'warning'}"
  %td.published_at= fotmat_date(article.published_at)
  %td.edit
    = link_to edit_admin_article_path(article.id) do
      = fa_icon 'edit'
  %td.delete
    = link_to admin_article_path(article.id), method: :delete do
      = fa_icon 'trash'
