= javascript_pack_tag 'admin/tags/tag_form'

= form_with model: [:admin, article], local: true do |f|
  .form-group
    = f.label :title
    = f.text_field :title, class: 'form-control'
  .form-group
    = f.label :slug
    = f.text_field :slug, class: 'form-control'
  .form-group
    = f.label :published
    = f.select :published, [['publish', true], ['draft', false]], {}, class: 'form-control'
  -# TODO: タグのリストが表示されないので調査する
  .form-group
    = f.label :tags
    = f.text_area :tags, value: article.tags.pluck(:name), placeholder: 'tag name', name: 'tags', id: 'tag-area', data: {tag: @tag_names}
  .form-group
    = f.label :text
    .row
      .col-md-6
        = f.text_area :text, id: 'article-text', class: 'form-control', size: '30x30'
      .col-md-6.border
        #markdown-preview
  -# TODO: i18nでなんとかしたい
  = f.submit "更新する", class: 'btn btn-primary'