= javascript_pack_tag 'admin/tags/tag_form'

= form_with url: admin_tags_path, method: :post, local: true do |f|
  .form-group
    = f.label :tags
    -# classにform-controleを指定するとtagifyのスタイルが正常に適用されない
    = f.text_area :tags, value: @tag_names, placeholder: 'tag name', name: 'tags', id: 'tag-area', data: {tag: @tag_names}
  = f.submit "更新する", class: 'btn btn-primary'