!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, initial-scale=1", :name => "viewport"}/
    %title Log in
  %body.hold-transition.login-page
    .login-box
      .card
        .card-body.login-card-body
          %p.login-box-msg Sign in to start your session
          = form_with url: admin_login_path, method: :post, local: true do |f|
            .form-group
              = f.label :email
              = f.text_field :email, class: 'form-control'
            .form-group
              = f.label :password
              = f.password_field :password, class: 'form-control'
            = f.submit "Login", class: 'btn btn-primary'
          %p.mb-1
            %a{:href => "forgot-password.html"} I forgot my password
          %p.mb-0
            %a.text-center{:href => "register.html"} Register a new membership
        / /.login-card-body
    / /.login-box
