!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FujjimaBlog
    = csrf_meta_tags
    = csp_meta_tag
    = stylesheet_pack_tag 'admin', media: 'all'
    = javascript_pack_tag 'admin'
  -# 使用するcss,jsは共通
  -# そのため、admin, loginで共通のテンプレートファイルを使用したい
  %body.hold-transition.sidebar-mini
    .wrapper
      = render 'layouts/admin/sidebar'
      -# %nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
      -#   = render 'layouts/header'
      .content-wrapper
        - flash.each do |key, value|
          - key = 'info' if key == 'notice'
          - key = 'danger' if key == 'alert'
          = content_tag :div, value, class: "alert alert-#{key}"
        .content
          = yield
  -# current_userが生成されるのはどのタイミングか？
  -# ログイン処理完了後？
  -# - if current_user.logged_in?
  -# - else
