!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FujjimaBlog
    = csrf_meta_tags
    = csp_meta_tag

    -# NOTE: Hot Module Reload 用タグ
    = vite_client_tag
    = vite_javascript_tag 'admin_application'

  -# TODO: admin, loginで共通のテンプレートファイルを使用したい
  %body.hold-transition.sidebar-mini
    .wrapper
      = render 'layouts/admin/sidebar'
      %nav.main-header.navbar.navbar-expand.navbar-white.navbar-light
        = render 'layouts/admin/header'
      .content-wrapper
        - flash.each do |key, value|
          - key = 'info' if key == 'notice'
          - key = 'danger' if key == 'alert'
          = content_tag :div, value, class: "alert alert-#{key}"
        .content
          = yield
