!!!
%html
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title FujjimaBlog
    = csrf_meta_tags
    = csp_meta_tag

    -# NOTE: Hot Module Reload 用タグ
    = vite_client_tag

    -# TODO: vite_stylesheet_tag のみ使えないので原因調査したい
    -# = vite_stylesheet_tag 'stylesheets/application.scss'
    = vite_javascript_tag 'application'

    = analytics_init if Rails.env.production?
  = render 'layouts/header'
  %body
    .wrapper
      .content-wrapper
        %main.container
          %div.row
            %div.col-md-8.blog-main
              = yield
            %aside.col-md-4.blog-sidebar
              = render 'layouts/sidebar'
